
<html>
 <head>
    <title>
        <%= title%>
    </title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Allison&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css">
 </head>

    <body>
       <div class="contacts">
        <h2 class="heading">Contact List <i class="far fa-address-book"></i></h2>
            <ul>
                <% for(i of contact_list){%> 
                <li>
                   <div class="details">
                        <p>Name: <%=i.name%> </p>
                        <p>Phone: <%=i.phone%> </p>
                   </div>
                   <div class="delete-contact">
                      <a href="/delete-contact/<%= i.phone %>">
                        <i class="fas fa-backspace"></i>
                      </a>
                   </div>
                </li>    
                <%}%>
            </ul>
       </div>

       <div class="create-contact">
           <h2 class="heading">Create New Contact:</h2>
            <form action="/create-contact" method="POST">
                <input type="text" name="name" placeholder="name**" required><br>
                <input type="text" name="phone" placeholder="phone no**" required><br>
                <input type="date" name="birthday" placeholder="birth date"><br>
                <input type="submit" value="CREATE" class="create-btn"><br>
            </form>
        </div>

        <script type="text/javascript" src="/js/home.js"></script>
    </body>
</html>