<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/common.css">
        <link rel="stylesheet" href="/css/home.css">
    </head>

    <body>
        
        <h1 class="center mtop">HOME PAGE</h1>

        <div>
            <a href="/user/signup" class="center">sign up</a>
            <a href="/user/signin" class="center">sign in</a>
        </div>

    </body>
</html>