<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/common.css">
    </head>

    <body>
        <h1 class="center mtop">PROFILE PAGE</h1>
    </body>
</html>